<html>
<head>
<style> 
.center {
	text-align: center;

	font-size: 50px;
	font-weight: bold; 
	font-family: "Comic Sans MS", cursive, sans-serif;
}

body {
	background-color: white;
	text-align: center;

}

</style>
</head>


<body>

<div class = "center">
	<p> Welcome to Playlist Live! </p>

<img src="play_button.jpg" alt="playbutton" width="460" height="460" class = "center"> 
</div>
</body>
</html>
